<div class="summary">
   <h2>{{ heading }}</h2>

   <div class="summary__legend">
      <p>
         <span style="background: rgb({{ config.colors.stops }})"></span> Stops (coverage drops)
      </p>

      <p>
         <span style="background: rgb({{ config.colors.errors }})"></span> Errors (base mismatch)
      </p>

      {% for pattern in patterns %}
         <p>
            <span style="background: rgb({{ pattern.color }})"></span> {{ pattern.pattern }}
         </p>
      {% endfor %}
   </div>

   <table class="data">
      <thead>
         <th></th>
         {% for dataset_name in dataset_names %}
            <th>{{ dataset_name }}</th>
         {% endfor %}
         <th>p-value</th>
      </thead>
      <tbody>
         {% for position in positions if position.is_significant() %}
            <tr class="data__row data__row--stops">
               <td rowspan="2" class="data__position">
                  {% if position.patterns_matched|length > 0 %}
                     <div class="data__patterns">
                        {% for pattern in position.patterns_matched %}
                           <div class="data__pattern" style="background: rgba({{ pattern.color }}, 1)">&nbsp;</div>
                        {% endfor %}
                     </div>
                  {% endif %}

                  <div class="data__position-info">
                     {{ position.position }} ({{position.base}})
                  </div>
               </td>

               {% for name, dataset in position.datasets.items() %}
                  <td style="background: {{ dataset.rgba_stops_coverage_relative() }}">
                     {{ dataset.stops_coverage_relative }}%
                  </td>
               {% endfor %}

               <td>
                  {{ position.pvalue_stops | round(2) }}
               </td>
            </tr>

            <tr class="data__row data__row--errors">
               {% for name, dataset in position.datasets.items() %}
                  <td style="background: {{ dataset.rgba_errors_relative() }}">
                     {{ dataset.errors_relative }}%
                  </td>
               {% endfor %}

               <td>
                  {{ position.pvalue_errors | round(2) }}
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

   <h2>Overall statistics</h2>

   <table class="statistics">
      <thead>
         <th></th>
         {% for dataset_name in dataset_names %}
            <th>{{ dataset_name }}</th>
         {% endfor %}
      </thead>
      <tbody>
         <tr>
            <td>Total reads</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.reads }}</td>
            {% endofr %}
         </tr>
         <tr>
            <td>Average coverage</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.average_coverage }} (σ={{ dataset.sd_coverage }})</td>
            {% endofr %}
         </tr>
         <tr>
            <td>Average errors</td>
            {% for name, dataset in full_datasets.items() %}
            <td>{{ dataset.average_errors }} (σ={{ dataset.sd_errors }})</td>
            {% endofr %}
         </tr>
         <tr>
            <td>Total errors</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.relative_errors }}</td>
            {% endofr %}
         </tr>
         <tr>
            <td>Total "A" errors </td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.relative_A_errors }}</td>
            {% endofr %}
         </tr>
      </tbody>
   </table>
</div>

<style>
   @page {
      size: auto;
      margin: 0mm;
      size: A1;
   }

   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   table.data {
      border-spacing: 0;
      /*font-family: serif;*/
      font-family: monospace;
      line-height: 1.5;
      margin-bottom: 20px;
      max-width: 1024px;
   }

   .data td {
      padding: 0 5px 0 10px;
      vertical-align: top;
   }

   .data thead tr {
      background: #f5f5f5
   }
   .data thead td {
      padding: 5px 10px;
   }
   .data td.data__position {
      text-align: right;
      padding: 0;
      background: #f5f5f5;
      width: 88px;
      position: relative;
   }
   .data tr.data__row--stops td {
      border-top: 1px solid #e3e3e3;
   }
   .data td {}
   .data td {}
   .data td {}
   .data td {}

   .data__patterns {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
   }

   .data__pattern {
      width: 100%;
      height: 100%;
   }

   .data__position-info {
      z-index: 10;
      position: absolute;
      width: 100%;
      text-align: right;
      padding-right: 5px;
   }

   .summary__legend {
      line-height: 20px;
      margin-left: 5px;
   }

   .summary__legend span {
      display: inline-block;
      width: 12px;
      height: 12px;
      vertical-align: baseline;
      margin-right: 2px;
   }
</style>
