<div class="summary">
   <h2>{{ heading }}</h2>

   <div class="summary-legend">
      <p>
         <span style="background: rgb({{ config.colors.stops }})"></span> Stops (coverage drops)
      </p>

      <p>
         <span style="background: rgb({{ config.colors.errors }})"></span> Errors (base mismatch)
      </p>

      <p>
         <span style="background: rgb({{ config.colors.ins_del }})"></span> Insertion, deletion
      </p>

      {% for pattern in patterns %}
         <p>
            <span style="background: rgb({{ pattern.color }})"></span> Pattern: "{{ pattern.pattern }}"
         </p>
      {% endfor %}
   </div>

   <table class="summary-table">
      <thead>
         <th></th>
         {% for dataset_name in dataset_names %}
            <th>{{ dataset_name }}</th>
         {% endfor %}
         <th class="summary-table__pvalue summary-table__pvalue--header">p-value</th>
      </thead>
      <tbody>
         {% for position in positions if position.is_significant() %}
            <tr class="summary-table__row data__row--stops">
               <td rowspan="4" class="summary-table__row-info">
                  {% if position.patterns_matched | length > 0 %}
                     <div class="summary-table__patterns">
                        {% for pattern in position.patterns_matched %}
                           <div class="summary-table__pattern" style="background: rgba({{ pattern.color }}, 1)">&nbsp;</div>
                        {% endfor %}
                     </div>
                  {% endif %}

                  <div class="summary-table__position-and-base">
                     {{ position.position }} ({{ position.base }})
                  </div>
               </td>

               {% for name, dataset in position.datasets.items() %}
                  <td style="background: {{ dataset.rgba_stops_coverage_relative() }}">
                     {{ dataset.stops_coverage_relative | int }}%
                  </td>
               {% endfor %}

               <td class="summary-table__pvalue">
                  {{ ('%0.2f' % position.pvalue_stops) if position.pvalue_stops == position.pvalue_stops else '----' }}
               </td>
            </tr>

            <tr class="summary-table__row data__row--errors">
               {% for name, dataset in position.datasets.items() %}
                  <td style="background: {{ dataset.rgba_errors_relative() }}">
                     {{ dataset.errors_relative | int }}%
                     <span class="summary-table__higher-error-base nowrap">
                       ({{ dataset.higher_error_base()[0] }}: {{ dataset.higher_error_base()[1] | int }}%)
                     </span>
                  </td>
               {% endfor %}

               <td class="summary-table__pvalue">
                  {{ ('%0.2f' % position.pvalue_errors) if position.pvalue_errors == position.pvalue_errors else '----' }}
               </td>
            </tr>

            <tr class="summary-table__row data__row--ins-del">
               {% for name, dataset in position.datasets.items() %}
                  <td style="background: {{ dataset.rgba_ins_del() }}">
                     <span class="nowrap">I: {{ dataset.insertions_relative | int }}%,</span>
                     <span class="nowrap">D: {{ dataset.deletions_relative | int }}%</span>
                  </td>
               {% endfor %}

               <td class="summary-table__pvalue">
            </tr>

            <tr class="summary-table__row data__row--coverage">
               {% for name, dataset in position.datasets.items() %}
                  <td>
                     ({{ dataset.coverage }})
                  </td>
               {% endfor %}

               <td class="summary-table__pvalue">
            </tr>
         {% endfor %}
      </tbody>
   </table>

   <h2>Overall statistics</h2>

   <table class="summary-statistics">
      <thead>
         <th></th>
         {% for dataset_name in dataset_names %}
            <th>{{ dataset_name }}</th>
         {% endfor %}
      </thead>
      <tbody>
         <tr>
            <td>Total reads</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.reads }}</td>
            {% endfor %}
         </tr>
         <tr>
            <td>Average coverage</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.average_coverage }} (σ={{ dataset.sd_coverage }})</td>
            {% endfor %}
         </tr>
         <tr>
            <td>Average errors</td>
            {% for name, dataset in full_datasets.items() %}
            <td>{{ dataset.average_errors }} (σ={{ dataset.sd_errors }})</td>
            {% endfor %}
         </tr>
         <tr>
            <td>Total errors</td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.relative_errors | round(2) }}%</td>
            {% endfor %}
         </tr>
         <tr>
            <td>Total "A" errors </td>
            {% for name, dataset in full_datasets.items() %}
               <td>{{ dataset.relative_A_errors | round(2) }}%</td>
            {% endfor %}
         </tr>
      </tbody>
   </table>
</div>
